.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
